<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Demo Test Suites">
    <!-- Test Listener -->
    <listeners>
        <listener class-name="utility.TestExecutionListener"/>
    </listeners>
    <!-- Test          -->
    <test name="EndpointVerification">
        <classes>
            <class name="testcases.GETRequestPracticeTest"/>
        </classes>
    </test>
</suite>